.search-icon {
    position: absolute;
    bottom: 15px;
    right: 10px;
    width: 15px;
    height: 15px;
    color: #ccc;
    z-index: 100;
    cursor: pointer;
  }
  .dp-section-block{
    max-width: 30%;
    margin: 20px auto;   
    border: 1px solid #d3d3d3; 
    position: relative;
  }
  .dp-section-block .triangle-down {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #555;
    right: 15px;
    top: 16px;
  }
  .dp-section-block > div:first-child{
    border: 1px solid #d3d3d3;
    text-align: left;
    padding: 8px 16px;
    color: #484848;
    border-radius: 2px;
    margin: -1px;
  }
  .dp-section-block .search-inputgroup.input-group{
    margin: 10px auto;
    width: calc(100% - 20px);
    position: relative;
  }
  .search-input.form-control{
    text-indent: 30px;
  }
  .seach-icon,.clear-icon{    
    position: absolute;  
    z-index: 100;
    top: 6px;   
    opacity: .45;  
  }
  .seach-icon{
    max-width: 24px;
    left: 6px;
  }
  .clear-icon{
    right: 10px;
    max-width: 16px;
    top: 10px;
    cursor: pointer;
  }
  .search-result{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .search-result p{
    flex: 1 1;   
    font-size: 14px;
    margin-left: 10px;
    margin-bottom:0px;
    text-align: left;
  }
  .search-result button{
    flex: 1 1;
    max-width: 150px;
    border: none;
    font-size: 14px;
    padding: 6px 12px;
    background: #d3d3d3;
    border-radius: 4px;
    margin-right: 10px;
  }
.dp-option-value{
  font-size: 14px;
  text-align: left;
  padding: 3px 3px;
  margin-bottom: 10px;
  margin-left: 16px;
  width: calc(100% - 30px);
  }
.dp-option-value.active{
  color: #212121;
  font-weight: 500;
  background-color:#f7f7f7;
}
.dp-option-value:hover{
  background-color:#d3d3d3;
}
.more-btn{
  cursor: pointer;
  color: #0079c1;
  font-size: 14px;
  font-weight: 500;
  text-align:right;
  text-transform: capitalize;
  margin-bottom:10px;
  margin-right: 16px;
  display: block;
}
.nolocations{
  font-size: 14px;
  text-align: center;
  margin-top:10px;
}
