.home{
    max-width: 30%;
    margin: 20px auto;
    position: relative;
  }

.home button{
    flex: 1 1;
    max-width: 150px;
    border: none;
    font-size: 14px;
    padding: 6px 12px;
    background: #d3d3d3;
    border-radius: 4px;
    margin-right: 10px;
  }

.location{
text-align: center;
}
.location strong{
    margin-left:4px
}